  <div class="header">
    <h1 class="logo-wrapper">
      <img src="" alt="text" class="logo">
    </h1>
  </div>
  <div class="wrapper">
    <div class="main">
      <h1>記事タイトル</h1>
      <p>記事記事記事記事記事記事</p>
      <p>キジキジキジキジキジキジ</p>
    </div>
    <div class="side">

      <!-- 新着記事 -->
      <div class="newlist">
        <h2>新着記事</h2>
        <ul>
          <li>記事タイトル1</li>
          <li>記事タイトル2</li>
          <li>記事タイトル3</li>
        </ul>
      </div>

      <!-- 著者紹介 -->
      <div class="author">
        <h2>著者紹介</h2>
        <p><img src="" alt="photo"></p>
        <p>このブログの著者説明です。こんにちは。こんばんは。</p>
      </div>
    </div>
  </div>
  
  <div class="footer">
    <p>Copyright © 2014-2015</p>
	  <p>Syncer All Rights Reserved.</p>
	  <p>http://syncer.jp/</p>

  </div>
